@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Roboto+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Scroll bar CSS style section start*/

/* fixed part */
::-webkit-scrollbar {
  background-color: #eee;
  height: 9px;
  border: 1px solid #fff;
  width: 10px;
}

/* moving part */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #001529;
  border: 1px solid #eee;
  background-clip: padding-box;
}
/* Scroll bar CSS style section end*/

/* 404 page css start */

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 30px auto;
  transform: scale(0.8);
}
.landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}
p {
  font-size: 16px;
  width: 35%;
  margin: 16px auto 24px;
  text-align: center;
}
.button {
  border-radius: 50px;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  background: #001529;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 #ccc;
}

/* 404 page css end*/
